<h1>Good to see you, <%= @user.username.capitalize %>!</h1>
<hr>
<h2>Your infos:</h2>
<hr>
<ul>
  <li>Username: <strong><%= @user.username.capitalize %></strong></li>
  <li>Email: <strong><%= @user.email %></strong></li>
  <a class="btn btn-outline-primary btn-sm mt-3" href="/users/edit">Edit your infos</a>
</ul>
