<div class="container">
  <%= render "profiles/infos" %>
  <br>
  <hr>
  <h2>Your bookmarked races:</h2>
  <br>
  <hr>
  <h2>Your comments:</h2>
  <hr>
  <%= button_to "Delete my account", registration_path(current_user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger btn-sm" %>
</div>
