<h1 class="container mt-5">Edit Comment</h1>
<%= render "form", comment: @comment, race: @race %>
<div class= "mt-5">
  <br>
  <% if policy(@comment).destroy? %>
    <%= link_to "Delete this comment", race_comment_path(@race, @comment), class: "btn btn-outline-danger", data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
  <% end %>
  <br>
</div>
<%# closes the container div opened in form.html %>
</div>
