// Specific CSS for your home-page

.home-container {
  position: relative;
  top: -75px;
  height: 965px;
}

.home-img {
  height: 110%;
  width: 100%;
  object-fit: cover
}

.text-intro {
  position: absolute;
  top: 103px;
  width: 25%;
  height: 400px;
  margin-left: 90px;
  overflow: visible;
  text-align: justify;
  font-family: 'IBM Plex Sans', sans-serif;
}


.footer-home {
  position: absolute;
  bottom: 1%;
  left: 22px;
}

@media only screen and (max-width: 800px) {
  .text-intro {
    font-size: 10px;
    width: 60%;
    margin-top: 45px;
  }
}



// .race-btn {
// }
