<body scroll="no" style="overflow: hidden">
  <div class="home-container">
    <%= image_tag "main1.jpg", class:"home-img" %>
    <div class="text-intro">
      <p>With so many options out here, it has always been a hassle to pick your next triathlon race. </p>
      <p> <strong>How much elevation gain? How much will it cost me? How many participants? </strong></p>
      <p>Browse through dozens of races and find the one which fits you best, curated by our community.</p>
      <%= button_to "Find the perfect race", races_path, method: :get, class:"btn btn-primary race-btn"  %>
    </div>
  </div>
</body>
