<body scroll="no" style="overflow: hidden">
  <div class="home-container">
    <%= image_tag "main1.jpg", class:"home-img" %>
    <div class="text-intro">
      <p>Are you tired of the never-ending search for your next thrilling triathlon race? Look no further!</p>
      <p><strong>What is the race atmosphere like? Are there any time cutoffs? Will wetsuits be allowed?</strong> These questions can finally be answered with ease.</p>
      <p>You can now effortlessly browse through dozens of meticulously curated races, all in one place. Whether you're a seasoned triathlete or just starting out, we've got you covered.</p>
      <p>Discover the perfect race that suits your preferences and level of challenge, thanks to valuable insights from our passionate community of athletes. Say goodbye to the guesswork and hello to your next unforgettable triathlon experience!</p>
      <%= button_to "Find the perfect race", races_path, method: :get, class:"btn btn-primary race-btn"  %>
    </div>
  </div>
</body>
