$navbar-height: 100px;
$btn-color: #670AFF;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  height: $navbar-height;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

.navbar-brand img {
  border-radius: 10%;
  margin-left: 1.5em;
}

.btn-login {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 2em;
  border-radius: 5px;
}

.btn-sign-up {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 2em;
  border-radius: 5px;
}
