.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-align: justify;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// show page
.card-product-show {
  margin-top: 15px;
  overflow: hidden;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-align: justify;
}

.card-product-show img {
  height: 100%;
  width: 30%;
  object-fit: cover;
}

.card-product-show h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-show p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-show-infos {
  width: 30%;
}

.card-product-show .card-product-show-infos {
  padding: 16px;
}


// comments in show page


.card-product-comment {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  text-align: justify;
}

.card-product-comment h2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.card-product-comment-infos {
  width: 15%;
}

.card-product-comment-body {
  width: 70%;
}

.card-product-comment p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-comment .card-product-comment-infos {
  padding: 16px;
}


.race-image {
  width: 300px;
  height: 300px;
  border-radius: 5%;
  border: 0.5px solid black;
}


// comment form

.card-product-comment-form {
  height: 600px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 10px;
}



@media only screen and (max-width: 800px) {

  .card-product-show img,
  .race-image,
  .race-show-map {
    display: none;
  }
}
